@using PCAuthLib
@using YouriPortfolio.Models
@model YouriPortfolio.Models.ViewModels.ProjectViewModel
@{
    ViewBag.Title = "Project";
    var currentUser = Login.GetCurrentUser(HttpContext.Current);
}

@if (Model.Project.Visuals != null && Model.Project.Visuals.Count > 0)
{
    <link href="~/Content/camera.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/cameraSettingCss.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/scripts/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/scripts/camera.js"></script>


    <script>
        jQuery(function () {

            jQuery('#camera_wrap_3').camera({
                height: '56%',
                pagination: false,
                thumbnails: true,
                imagePath: '/images/',
                fx: 'simpleFade',
                time: 12000
            });

        });
    </script>


    <br />

}<br /><br />
@if (currentUser.Permission >= PCAuthLib.User.PermissionGroup.ADMIN)
{
    <div class="row text-right">
        @Html.ActionLink("Edit", "Edit", new { ID = Model.Project.ID }, new { @class = "btn btn-primary" })
    </div>
    <br />
}
@if (Model.Project.Visuals != null && Model.Project.Visuals.Count > 0)
{
    <div class="outer_container">
        <div class="fluid_container">
            <div class="camera_wrap camera_emboss" id="camera_wrap_3">
                @foreach (Visual visual in Model.Project.Visuals)
                {
                    if (visual.ContentType == Visual.ContentTypes.Photo)
                    {
                        <div data-thumb="/uploads/@visual.Location" data-src="/uploads/@visual.Location">
                            <div style="position: absolute; top: 5%; left: 5%; padding: 5px; width: 25%" class="fadeIn camera_effected"></div>
                        </div>
                    }
                    else if (visual.ContentType == Visual.ContentTypes.Video)
                    {
                        <div data-thumb="//img.youtube.com/vi/@visual.Location/0.jpg" data-src="//img.youtube.com/vi/@visual.Location/default.jpg">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/@visual.Location" frameborder="0" allowfullscreen></iframe>
                        </div>
                    }
                    else if (visual.ContentType == Visual.ContentTypes.GfyCat)
                    {
                        <div data-thumb="https://thumbs.gfycat.com/@(visual.Location)-size_restricted.gif" data-src="/images/blank.gif">
                            <iframe src='https://gfycat.com/ifr/@visual.Location' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe>
                        </div>
                        
                    }
                }
            </div><!-- #camera_wrap_3 -->
        </div><!-- .fluid_container -->
    </div>
    <div style="clear: both; display: block; height: 30px"></div>
}
<div class="col-md-12 LGProjectBlock">
    <div class="ProjectTextBlock">
        <p class="footerText">@Model.Project.Date</p>
        <h2>@Html.Raw(Model.Project.Title)</h2>
        <h4>@Html.Raw(Model.Project.ShortContent)</h4>

        <br/>

        <p>@Html.Raw(Model.Project.ContentText)</p>
    </div>

</div>