@using PCAuthLib
@using YouriPortfolio.Models
@model YouriPortfolio.Models.ViewModels.ProjectListViewModel
@{
    ViewBag.Title = "Projects";
    var currentUser = Login.GetCurrentUser(HttpContext.Current);
}

<br />
<div class="row">
    <h2>Projects</h2>
    @if (currentUser.Permission >= PCAuthLib.User.PermissionGroup.ADMIN)
    {
        <div class="row text-right">
            @Html.ActionLink("Reorder", "Reorder", new { }, new { @class = "btn btn-primary" })
            @Html.ActionLink("New", "Edit", new { ID = 0 }, new { @class = "btn btn-success" })
        </div>
    }
    <script>
        function Masonize() {
            $('.grid').masonry({
                itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
                columnWidth: '.grid-sizer',
                percentPosition: true
            });
        }

        $(document).ready(function () {
            Masonize();
        });
        $(window).load(function () {
            Masonize();
        });
    </script>

    <div class="container-fluid">
        <!-- add extra container element for Masonry -->
        <div class="grid">
            <!-- add sizing element for columnWidth -->
            <div class="grid-sizer col-lg-3 col-sm-4 col-xs-6 col-xxs-12"></div>
            @foreach (Content content in Model.ContentList)
            {
                <div class="grid-item col-lg-3 col-sm-4 col-xs-6 col-xxs-12">
                    <div class="grid-item-content ZoomBlock">
                        <div class="ProjectBlock noLink" style="@(content.Shown?"": "background-color:lightgray")" onclick="window.location = '/Projects/Get/@content.ID';">
                            <div class="ProjectImage">
                                @if (content.HeaderImg != null && content.HeaderImg.Location != null && content.HeaderImg.Location.Length > 1)
                                {
                                    if (content.HeaderImg.ContentType == Visual.ContentTypes.Photo)
                                    {
                                        <img src="/uploads/@content.HeaderImg.Location" alt="Project Visual" />
                                    }
                                    else if(content.HeaderImg.ContentType == Visual.ContentTypes.Video)
                                    {
                                        <img src="//img.youtube.com/vi/@content.HeaderImg.Location/default.jpg" alt="Project Visual" />
                                    }
                                    else if (content.HeaderImg.ContentType == Visual.ContentTypes.GfyCat)
                                    {
                                        <img src="https://thumbs.gfycat.com/@(content.HeaderImg.Location)-size_restricted.gif"/>
                                    }
                                }
                            </div>
                            <div class="ProjectTextBlock">
                                <p class="footerText">
                                    @content.Date
                                </p>
                                <h2 class="ProjectTitle">
                                    @Html.Raw(content.Title)
                                </h2>
                                <p>@Html.Raw(content.ShortContent)</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
