@model YouriPortfolio.Models.CVViewModel

@{
    ViewBag.Title = "Curriculum Vitae";
}
<head>
    <script src="~/Scripts/jquery.wysibb.min.js"></script>
    <link href="~/Content/wbbtheme.css" rel="stylesheet" />
</head>
<script>
    $(document).ready(function () {
        var wbbOpt = {
            buttons: "bold,italic,underline,fontcolor,|,img,link,code,fa,|,h1,h2,h3,h4",
            allButtons: {
                h1: {
                    title: 'Insert h1',
                    buttonText: 'h1',
                    hotkey: "ctrl+shift+1", //Add hotkey
                    transform: {
                        '<h1>{SELTEXT}</h1>': '[h1]{SELTEXT}[/h1]'
                    }
                },
                h2: {
                    title: 'Insert h2',
                    buttonText: 'h2',
                    hotkey: "ctrl+shift+2", //Add hotkey
                    transform: {
                        '<h2>{SELTEXT}</h2>': '[h2]{SELTEXT}[/h2]'
                    }
                },
                h3: {
                    title: 'Insert h3',
                    buttonText: 'h3',
                    hotkey: "ctrl+shift+3", //Add hotkey
                    transform: {
                        '<h3>{SELTEXT}</h3>': '[h3]{SELTEXT}[/h3]'
                    }
                },
                h4: {
                    title: 'Insert h4',
                    buttonText: 'h4',
                    hotkey: "ctrl+shift+4", //Add hotkey
                    transform: {
                        '<h4>{SELTEXT}</h4>': '[h4]{SELTEXT}[/h4]'
                    }
                }
            }
        }
        $("#ExperienceText").wysibb(wbbOpt);
        $("#EducationText").wysibb(wbbOpt);
        $("#AboutMeText").wysibb(wbbOpt);
    });
</script>

<h1 class="text-center">Youri Schuurmans</h1>
<br /><br />
@using (Html.BeginForm("Edit", "CV", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row CVRow">
        <div class="left-col col-md-6">
            <div class="Experience col-xxs-12">
                <h2>Experience</h2>
                <br />
                @Html.TextAreaFor(model => model.ExperienceText)
            </div>
            <br /><br /><br />
            <div class="Experience col-xxs-12">
                <h2>About me</h2>
                <br />
                @Html.TextAreaFor(model => model.AboutMeText)
            </div>
        </div>
        <div class="right-col col-md-6">
            <div class="Education col-xxs-12">
                <h2>Education</h2>
                <br />
                @Html.TextAreaFor(model => model.EducationText)
            </div>

            <br /><br /><br />

            <div class="Skills col-xxs-12">
                <h2>Skills</h2>
                <br />
                @Html.TextAreaFor(model => model.SkillKeyValuesJson, new {style = "height:200px;"})
            </div>
        </div>
    </div>
    <div class="row col-xxs-12 text-right">
        <button class="btn btn-primary">Save</button>
    </div>
}
